* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ---------------------POP-OVER------------------------ */
.menu-popover {
  top: auto;
  width: 100%;
  height: 100vh;
  background: var(--bg-white);
  border: none;
  padding-top: 1rem;
}

  .close-button{
    padding: 0.75rem 1.5rem;
    transform: translateY(40px);
    display: flex;
    justify-content: end;

   button{
    font-size: var(--h1-xl);
    border-style: none;
    background-color: var(--bg-white);
    color: var(--text-light-blue);
    transition: all 0.3s;

    &:hover{
      transform: scale(1.5);
      color: var(--text-orange);
     cursor: pointer;
    }
   }
  }

  .menu-nav ul{
    background-color: var(--bg-white);
    font-size: var(--h1-xl);
    display: flex;
    flex-direction:column;
    gap: 1rem;
    padding-inline: 1rem;
    
    & a:hover{
    text-decoration: underline;
  }
}


/* ---------------header------------- */
.skip {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;  
}
  .skip:focus {
  position: static;
}

header {
  background: var(--bg-white);
}

.main-nav,
.secondary-nav {
  background: var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .webshop li {
    display: flex;
    gap: 0.25rem;

    img {
      height: auto;
    }
  }
}

.secondary-nav {
  background: var(--bg-white);

  ul {
    display: flex;
    gap: 2rem;

    li:nth-of-type(2) {
      @media(min-width:700px) {
        display: none;
      }
    }

    button:hover {
      text-decoration: underline;
    }
  }
}

.link-buttons-nav {
  display: flex;
  gap: 1.5rem;
}

header a {
  text-decoration: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);
}

header img {
  height: 40px;
}

header .login-button,
.hamburger-menu-button {
  background: none;
  border: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);
  cursor: pointer;
  font-family: var(--font-body);
}

.main-nav:has(#zakelijk:target) .zakelijk-knop[href="#zakelijk"],
.main-nav:has(#consument:target) .consument-knop[href="#consument"] {
  color: var(--text-orange);
  background-color: var(--bg-white);
  padding: 0.5rem 0.75rem 1rem 0.75rem;
  border-radius: 4px 4px 0 0;
  font-weight: 700;
  animation: tabSlideIn;
  scroll-margin-top: 100px;
}

.main-nav:not(:has(#zakelijk:target)):not(:has(#consument:target)) .consument-knop[href="#consument"] {
  color: var(--text-orange);
  background-color: var(--bg-white);
  padding: 0.5rem 0.75rem 1rem 0.75rem;
  border-radius: 4px 4px 0 0;
  font-weight: 700;
}

.zakelijk-knop,
.consument-knop {
  transition: 0.25s ease-in;
}

@keyframes tabSlideIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------hero section------------- */

.hero {
  position: relative;
  background: var(--bg-white);
  padding: 3rem 1rem;
  overflow: hidden;
  min-height: 450px;

  @media (min-width:700px) {
    all: unset;
    display: flex;
    padding-block: clamp(1rem, 2vh, 4rem);
    padding-inline: clamp(2rem, 5vw + 1rem, 8rem);
    gap: 5vw;
    box-sizing: border-box;
  }
}

.hero-desktop-wrapper {
  @media (min-width: 700px) {
    background-image: url("assets/postlijn-desktop.svg");
    background-size: 80% auto;
    background-repeat: no-repeat;
  }
}

.hero-text-content {
  max-width: 400px;
  position: relative;
  z-index: 2;

  @media (min-width:700px) {
    all: unset;
    width: 40vw;

    h1 {
      font-size: clamp(1.5rem, 2vw + 0.5rem, 4rem);
    }

    p,
    a {
      font-size: clamp(1rem, 0.5vw + 1rem, 2rem);
    }
  }
}

.hero h1 {
  color: var(--text-dark-blue);
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 1.5rem;
}

.hero-main-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1;

  @media (min-width:700px) {
    all: unset;
    width: clamp(25vw, 30vw, 40vw);
    height: auto;
    max-width: 700px;
  }
}

.hero-secondary-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  @media (min-width: 700px) {
    display: none;
  }
}

.button:hover {
  background: var(--card-blue-secondary);
  text-decoration: underline;
}

/* ---------------tabs------------- */


.tabs-section {
  @media (min-width:700px) {
    margin: 0 auto;
    padding: 1rem 6rem;
    max-width: 1300px;
    height: auto;
    justify-content: center;
  }
}

.all-tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  background-color: var(--bg-gray);
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  color: #3C48B8FF;
  text-decoration: none;
  align-items: center;
  justify-self: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px 6px 0 0;
  padding: 1rem;
}

.tab img {
  width: 2em;
}

.tabs-section:has(#volg:target) .tab[href="#volg"],
.tabs-section:has(#versturen:target) .tab[href="#versturen"],
.tabs-section:has(#locaties:target) .tab[href="#locaties"],
.tabs-section:has(#postcodes:target) .tab[href="#postcodes"] {
  background-color: var(--bg-accent-gray);

  img {
    filter: hue-rotate(120deg);
  }
}



.tab-content {
  display: none;
  padding: 1rem;
  scroll-margin-top: 300px;

  @media(min-width:700px) {
    scroll-margin-top: 300px;
  }

}

.tab-content:target {
  display: block;
  background-color: var(--bg-accent-gray);
}

.tabs-section:not(:has(:target)) #volg {
  display: block;
  background-color: var(--bg-accent-gray);
}

.tabs-section:not(:has(:target)) .tab[href="#volg"] {
  background-color: var(--bg-accent-gray);
  filter: hue-rotate(120deg);
}

.tab-content form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;

  input,
  select {
    font-family: var(--font-body);
  }
}

.tab-content input,
.tab-content select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  outline: auto var(--bg-gray);

  &:focus {
    outline: 1px solid var(--card-blue-secondary);
  }
}

/*---------------- tab animaties-------------- */

.tab:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  filter: brightness(0.90);
  transition: box-shadow 0.2s, filter 0.2s;
  border-right: 1px solid rgb(176, 176, 176);
}

.tab:hover img {
  animation: iconBounce 0.7s;
  animation-iteration-count: infinite;
}

@keyframes iconBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.tab:active {
  animation: tabScale 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes tabScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }
}

.tab:active img {
  animation: iconClickSpin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes iconClickSpin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.15);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* ---------------zoeken form------------- */
.search-form-wrapper {
  @media (min-width:700px) {
   display: flex;   
   max-width: 900px;
   margin: auto;
   justify-content: center;


    .search-form {
      width: 45vw;
      font-size: clamp(1.2rem, 0.1rem + 2.5vw, 2.5rem);
    }
  }
}

.search-form label {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: inherit;
}

.search-form form {
  display: flex;
  margin: 1em;
  font-size: inherit;
}

.search-form input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 4px 0 0 4px;

      font-size: clamp(1.2rem, 0.1rem + 2vw, 2.5rem);
  
}

.search-form button {
  background: var(--card-blue-main);
  border: none;
  padding: 0 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: inherit;
}



/* ---------------info cards 1,2,3------------- */


.subgrid-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 1rem;

  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  @media (min-width: 1000px) {
    padding: 2rem 6rem;
    grid-template-columns: repeat(3, minmax(300px, 350px));
    justify-content: center;
  }

  .info-card {
    color: var(--bg-white);
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 8px;
    overflow: hidden;

    @media (min-width: 700px) {
      display: grid;
      grid-row: span 4;
      grid-template-rows: subgrid;
      overflow: hidden;

      .card-link{
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      h3 {
        font-size: clamp(1.25rem, 1.5vw + 0.3rem, 2rem);
      }

      p,
      a {
        font-size: clamp(1rem, 0.5vw + 0.7rem, 1.75rem);
      }
    }

    .card-content {
      @media (min-width: 700px) {
        display: grid;
        grid-row: span 4;
        grid-template-rows: subgrid;
        align-items: center;
    }
  }
}

/* ook gebruikt voor post-card */
.card-content {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  img {
    max-width: fit-content;
  }
}


.info-card:nth-of-type(1) .card-content {
  background-color: var(--card-red-main);
}

.info-card:nth-of-type(2) .card-content {
  background-color: var(--card-blue-main);
}

.info-card:nth-of-type(3) .card-content {
  background-color: var(--card-navy-main);
}

.info-card:nth-of-type(1) .card-link {
  color: var(--bg-white);
  background-color: var(--card-red-secondary);
  padding: 1em;
}

.info-card:nth-of-type(2) .card-link {
  color: var(--bg-white);
  background-color: var(--card-blue-secondary);
  padding: 1em;
}

.info-card:nth-of-type(3) .card-link {
  color: var(--bg-white);
  background-color: var(--card-navy-secondary);
  padding: 1em;
}

.image-card img {
  width: 100%;
}


/* ---------------image card------------- */

.image-card {
  background-color: var(--bg-gray);
  margin: 3rem 0;

  .image-card-text {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0.25rem, 1vw + 0.5rem, 1rem);

    @media (min-width:700px) {
      padding: clamp(3rem, 2vw + 2rem, 10rem);

      h2 {
        font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
      }

      p {
        font-size: clamp(1rem, 0.5vw + 1rem, 2rem);
      }
    }
  }
}

.image-card {
  @media (min-width:700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ---------------create acount card------------- */

.account-card {
  background-color: var(--bg-accent-gray);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  gap: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.account-card.card-1,
.account-card.card-2 {
  @media(min-width:700px) {
    background-color: var(--bg-white);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-block: 2rem;
    padding-inline: clamp(5rem, 5vw + 2rem, 10rem);

    &.card-2 {
      flex-direction: row-reverse;
      gap: clamp(5rem, 5vw + 2rem, 10rem);
    }
  }

  .card-1-text,
  .card-2-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(1rem, 1vw + 0.5rem, 2rem);

    & h3 {
      color: var(--text-orange);
    }
  }

  .card-1-text li svg {
    width: 20px;
    height: 20px;
    color: var(--text-orange);
  }
}


/* ---------------post cards------------- */

.post-card {
  border-radius: 6px;
  background-color: var(--bg-accent-gray);
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;

  .card-content {
    padding: 1.5rem;
  }

  .post-card-link {
    background-color: #E6E7EA;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0 0 6px 6px;

    &:hover{
      text-decoration: underline;
    }
  }
}

.post-card-wrapper {
  @media (min-width:700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 3rem;
    padding-inline: clamp(2rem, 4vw + 1rem, 5rem);
    max-width: 1600px;
    margin: auto;
    font-size: clamp(1rem, 0.5vw + 0.8rem, 2rem);

    img {
      height: clamp(5rem, 5vw + 3rem, 10rem);
      width: auto;
    }
  }
}




/* ---------------footer------------- */
.postnl-footer {
  background-color: var(--bg-gray);
  padding: 1rem;

}

.postnl-footer nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;

  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

  }
}

.postnl-footer details {
  border-bottom: 1px solid #d1d1d1;
  padding: 1rem 0;

  @media (min-width: 700px) {
    border-bottom: none;
    padding: 0;
  }
}

.postnl-footer summary {
  cursor: pointer;
  color: var(--text-dark-blue);
  display: flex;
  justify-content: space-between;

  @media (min-width: 700px) {
    margin-bottom: 1rem;
    cursor: default;
    list-style: none;
    pointer-events: none;
    font-size: clamp(1.2rem, 0.5vw + 0.9rem, 2rem);

  }
}

.postnl-footer details ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.postnl-footer details a {
  color: var(--text-light-blue);
  text-decoration: none;
  font-size: 1rem;

  @media(min-width:700px){
  font-size: clamp(1rem, 0.5vw + 0.8rem, 2rem);
  }
}

.postnl-footer details a:hover {
  text-decoration: underline;
}

.footer-logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer-logo-content img {
  height: 2rem;
}

.footer-legal-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-legal-content a {
  color: var(--text-black);
  text-decoration: none;
  font-size: 1rem;
}

.footer-legal-content a:hover {
  text-decoration: underline;
}

.postnl-footer ::details-content {
  @media (min-width: 700px) {
    content-visibility: auto;
  }
}