* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ---------------header------------- */
header {
  background: var(--bg-white);
}

header nav {
  background: var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.secondary-nav{
background: var(--bg-white);
}

header ul {
  display: flex;
  gap: 1.5rem;
}

header a {
  text-decoration: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);

  &.consument-knop{
    color: var(--text-orange);
  }
}

header img {
  height: 40px;
}

header button {
  background: none;
  border: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);
  cursor: pointer;
  font-family: var(--font-body);
}

/* ---------------hero section------------- */

.hero {
  position: relative;
  background: var(--bg-white);
  padding: 3rem 1rem;
  overflow: hidden;
  min-height: 500px;
}

.hero-content {
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  color: var(--text-dark-blue);
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 1.5rem;
}

.hero-main-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1;
}

.hero-secondary-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.button:hover {
  background: var(--card-blue-secondary);
  text-decoration: underline;
}

/* ---------------tabs------------- */


.tabs-section {
    background: var(--bg-gray);
}

.all-tabs {
    display: flex;
    margin-bottom: 2rem;
}

.tab {
    padding: 0.75rem 2rem;
    background: var(--bg-accent-gray);
    border: none;
    cursor: pointer;
}

.tab.active {
    background: var(--bg-gray);
  }

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

