* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ---------------header------------- */
header {
  background: var(--bg-white);
}

header nav {
  background: var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.secondary-nav {
  background: var(--bg-white);
}

header ul {
  display: flex;
  gap: 1.5rem;
}

header a {
  text-decoration: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);

  &.consument-knop {
    color: var(--text-orange);
  }
}

header img {
  height: 40px;
}

header button {
  background: none;
  border: none;
  color: var(--text-light-blue);
  font-size: var(--text-m);
  cursor: pointer;
  font-family: var(--font-body);
}

/* ---------------hero section------------- */

.hero {
  position: relative;
  background: var(--bg-white);
  padding: 3rem 1rem;
  overflow: hidden;
  min-height: 500px;
}

.hero-content {
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  color: var(--text-dark-blue);
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 1.5rem;
}

.hero-main-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1;
}

.hero-secondary-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.button:hover {
  background: var(--card-blue-secondary);
  text-decoration: underline;
}

/* ---------------tabs------------- */



.all-tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  background-color: var(--bg-gray); 
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  color: var(--text-m);
  text-decoration: none;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 1rem; 
}

.tab img {
  width: 2em;
}

.tabs-section:has(#volg:target) .tab[href="#volg"],
.tabs-section:has(#versturen:target) .tab[href="#versturen"],
.tabs-section:has(#locaties:target) .tab[href="#locaties"],
.tabs-section:has(#postcodes:target) .tab[href="#postcodes"] {
  background-color: var(--bg-accent-gray);
}

.tabs-section:has(#volg:target) .tab[href="#volg"],
.tabs-section:has(#versturen:target) .tab[href="#versturen"],
.tabs-section:has(#locaties:target) .tab[href="#locaties"],
.tabs-section:has(#postcodes:target) .tab[href="#postcodes"] img {
  filter:hue-rotate(120deg);
}

.tab-content {
  display: none;
  padding: 1rem;
  scroll-margin-top: 250px; 

}

.tab-content:target {
  display: block;
  background-color: var(--bg-accent-gray);
}

.tabs-section:not(:has(:target)) #volg {
  display: block;
  background-color: var(--bg-accent-gray);
}

.tabs-section:not(:has(:target)) .tab[href="#volg"] {
  background-color: var(--bg-accent-gray);
    filter:hue-rotate(120deg);

}

.tab-content form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1rem;

}

.tab-content input,
.tab-content select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    outline: auto gray;

}


/* ---------------zoeken form------------- */
.zoeken-form label {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.zoeken-form form {
    display: flex;
    margin: 1em;
}

.zoeken-form input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 2px solid #ddd;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.zoeken-form button {
    background: var(--card-blue-main);
    border: none;
    padding: 0 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* ---------------info cards 1,2,3------------- */


.subgrid-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem;


  .info-card {
    color: var(--bg-white);
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 8px;
    height: 350px;
    overflow: hidden;


    
    }
  }

/* ook gebruikt voor post-card */
.card-content {
      padding: 1.5rem 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      

      img {
        max-width: fit-content;

        
      }
    }


.info-card:nth-of-type(1) .card-content {
  background-color: var(--card-red-main);
}

.info-card:nth-of-type(2) .card-content {
  background-color: var(--card-blue-main);
}

.info-card:nth-of-type(3) .card-content {
  background-color: var(--card-navy-main);
}

.info-card:nth-of-type(1) .card-link {
  color: var(--bg-white);
  background-color:var(--card-red-secondary);
  padding: 1em;
}

.info-card:nth-of-type(2) .card-link {
  color: var(--bg-white);
  background-color: var(--card-blue-secondary);
  padding: 1em;
}

.info-card:nth-of-type(3) .card-link {
  color: var(--bg-white);
  background-color: var(--card-navy-secondary);
  padding: 1em;
}

.image-card img {
  width: 100%;
}


/* ---------------image card------------- */

.image-card {
  background-color: var(--bg-gray);
  margin-bottom: 1rem;


  .image-card-text {
    height: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


/* ---------------create acount card------------- */

.account-card{
  background-color: var(--bg-accent-gray);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  height: 400px;

  img{
    align-self: center;
    max-width: fit-content;
  }
  
}


/* ---------------post cards------------- */

.post-card{
  border-radius: 6px;
  background-color: var(--bg-accent-gray);
  margin: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 380px;

  .card-content{
    padding: 1.5rem;
  }

  .card-content .car-post-icon {
  margin-left: -2.5rem; 
}

.post-card-link{
  background-color: #E6E7EA;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0 0 6px 6px;
}

}




/* ---------------footer------------- */
.postnl-footer {
  background-color: var(--bg-gray);
  padding: 1rem;
}

.postnl-footer nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.postnl-footer details {
  border-bottom: 1px solid #d1d1d1;
  padding: 1rem 0;
}

.postnl-footer summary {
  cursor: pointer;
  color: var(--text-dark-blue);
  display: flex;
  justify-content: space-between;
}

.postnl-footer details ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.postnl-footer details a {
  color: var(--text-light-blue);
  text-decoration: none;
  font-size: 1rem;
}

.postnl-footer details a:hover {
  text-decoration: underline;
}

.footer-logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}


.footer-logo-content img {
  height: 2rem;
}

.footer-legal-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-legal-content a {
  color: var(--text-black);
  text-decoration: none;
  font-size: 1rem;
}

.footer-legal-content a:hover {
  text-decoration: underline;
}