* {
  box-sizing: border-box;
}

:root {
    /* ------------colors-------------- */
  /* Backgrounds */
  --bg-white: #ffffff;
  --bg-gray: #f1f1f2;
  --bg-accent-gray: #e7e8eb;

  /* Text colors */
  --text-dark-blue: #001a73;
  --text-black: #121212;
  --text-light-blue: #4e4ee2;
  --text-orange: #a94800;

  /* Card – Red */
  --card-red-main: #d83d00;
  --card-red-secondary: #bb3200;

  /* Card – Blue */
  --card-blue-main: #6161ff;
  --card-blue-secondary: #3737c5;

  /* Card – Navy */
  --card-navy-main: #011c75;
  --card-navy-secondary: #001252;

/* ------------typography-------------- */
  /* Fonts */
  --font-heading: "ABC ROM", sans-serif;
  --font-body: "Hanken Grotesk", sans-serif;

  /* Font weights */
  --weight-regular: 400;
  --weight-bold: 700;

  /* Heading sizes ABC ROM */
  --h1-xl: 32px;
  --h2-l: 25px;
  --h2-m: 21px;
  --h3-s: 18px;

  /* Body sizes Hanken Grotesk */
  --text-l: 24px;
  --text-m: 16px;
  --text-sm: 14px;
}


body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--text-m);
  font-weight: var(--weight-regular);

  h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: var(--weight-bold);
}

h1 {
  font-size: var(--h1-xl); /* 32px */
}

h2.l {
  font-size: var(--h2-l); /* 25px */
}

h2.m {
  font-size: var(--h2-m); /* 21px */
}

h3 {
  font-size: var(--h3-s); /* 18px */
}


.text-l {
  font-size: var(--text-l);
  font-weight: var(--weight-bold);
}

.text-m {
  font-size: var(--text-m);
  font-weight: var(--weight-bold);
}

.text-sm {
  font-size: var(--text-m);
  font-weight: var(--weight-regular);
}

.text-s {
  font-size: var(--text-sm);
  font-weight: var(--weight-regular);
}

}
